body{
    background-color: rgb(61, 61, 61);
    color: aliceblue;
}
img{
    border-radius: 8px;
    border: 3px solid white;
}

a{
    text-decoration: none;
    color: rgb(131, 131, 183);
}

.footer-section {

    background-color: black;
}