body{
    background-color: rgb(50, 49, 50);
    color: #ffffff;
}
iframe {
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    background-color: black;
    color: #ffffff;
    font-size:10px;
}

header{
    background-color: rgba(0, 0, 0, 0.671);
    color: azure;
}

header nav ul {
    list-style: none;
}
